# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules

# Build outputs & visualizer stats
dist
dist-ssr
stats.html

# Environment variables & Service Accounts
*.local
.env
.env.local
serviceAccountKey*.json
*-firebase-adminsdk-*.json
serviceAccount*.json
scripts/migration-report.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
